* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}

/* home.html */
.home{
    background-color: aquamarine;
    background-size: cover;
   
}
.image{
    height: 90vh;
    width: 40vw; 
}
.body{
    background-color: rgb(102, 132, 132);
    height: 100vh;
    width: 70vw;
}

.pi1 {
    background-color: black;
    color: rgb(160, 71, 244);
    font-size: 25px;
    border-radius: 5px;
    margin-top: 50px;
}

.pi2 {
    background-color: black;
    color: rgb(160, 71, 244);
    font-size: 25px;
    border-radius: 5px;
}

.pi3 {
    background-color: black;
    color: rgb(160, 71, 244);
    font-size: 25px;
    border-radius: 5px;
}


/* navbar.html */
.navbar1 {
    height: 80px;
    background-color: black;
}

.items {
    padding-top: 20px;
}

.item {
    padding: 60px;
    margin-top: 10px;
    font-size: 25px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  
