* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}
/* register.html */
.sign{
    background: linear-gradient(180deg, rgba(185, 105, 31, 0.66) 0%, rgba(6, 43, 172, 0.429) 100%);
    height: 100vh;
}
/* .login.html */
.login{
    background: linear-gradient(180deg, rgba(185, 105, 31, 0.66) 0%, rgba(6, 43, 172, 0.429) 100%);
    height: 100vh;
}

/* home.html */
.row1{
    height: auto;
    background: linear-gradient(180deg, rgba(185, 105, 31, 0.66) 0%, rgba(6, 43, 172, 0.429) 100%);
    
}
.row2{
    height: 50vh;
    background: linear-gradient(180deg, rgba(185, 105, 31, 0.66) 0%, rgba(6, 43, 172, 0.429) 100%);
}
/* .homepage{
    background-color: aquamarine;
    
   
}
.image{
    height: 90vh;
    width: 40vw; 
}
.body{
    background-color: rgb(102, 132, 132);
    height: 100vh;
    width: 70vw;
}

.pitch {
    background-color: black;
    height: 40vh;
    color: rgb(160, 71, 244);
    font-size: 15px;
    border-radius: 5px;
    margin-top: 50px;
    padding-top: 30px;
}  */

/* navbar.html */
navbarA {
    height: 80px;
    background-color: black;
}

.items {
    padding-top: 20px;
}

.item {
    padding: 60px;
    margin-top: 10px;
    font-size: 25px;
    color: white;
    
} 

  
