{% extends "base.html" %}
{% block title%}
Home
{% endblock %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %}


<form method="POST" >

    <section id="leran"class="p-5 body">
        <div class="container ">
            <div class="row align-items-center justify-content-between">
                
               
                <div class="col-md p-8">
                    <h1 align="center">Pitch</h1>
                    <p class="lead">
                       We create brand experiences that strike an emotional chord and motivate people to take action
                    </p>
                </div>
                <div class="col-md" >
                    <img class="image" src="../static/images/laptop.jpeg" class="img-fluid " alt="">
                </div>
                <div class="pitch">
                    <h1 class="pi1">INTERVIEW PITCH</h1>
                    <h1 class="pi2">PROMOTION PITCH</h1>
                    <h1 class="pi3">PRODUCT PITCH</h1>
                </div>
            </div>
        </div>
    </section>
       
   
   
</form>
{% endblock %}