{% extends "base.html" %}
{% block title%}
Home
{% endblock %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

{% block content %}


<form method="POST" >

    <section id="leran"class="p-5 body">
        <div class="container ">
            <div class="row align-items-center justify-content-between">
                
               
                <div class="col-md p-8">
                    <h1 align="center">Pitch</h1>
                    <p class="lead">
                       We create brand experiences that strike an emotional chord and motivate people to take action
                    </p>
                </div>
                <div class="col-md" >
                    <img class="image" src="../static/images/laptop.jpeg" class="img-fluid " alt="">
                </div>
                <div class="pitch">
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        <option selected>Pitch Category</option>
                        <option value="1">INTERVIEW PITCH</option>
                        <option value="2">PROMOTION PITCH</option>
                        <option value="3">PRODUCT PITCH</option>
                    </select>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Add a Pitch here" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Add a Pitch</label>
                        <br>
                       <button type="button" class="btn btn-info">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
       
   
   
</form>
{% endblock %}